<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.agilecrmautomation.LoginAgileCrm"/>
      <class name="com.agilecrmautomation.LinkVerification"/>
      <class name="com.agilecrmautomation.DealTest"/>
      <class name="com.agilecrmautomation.CompanyTest1"/>
      <class name="com.agilecrmautomation.Test1"/>
      <class name="com.TestNG.Class1"/>
      <class name="com.agilecrmautomation.AlertTest"/>
      <class name="com.agilecrmautomation.DealsTestCase"/>
      <class name="com.agilecrmautomation.AmazonElectronicsSearch"/>
      <class name="com.agilecrmautomation.ContactTest"/>
      <class name="com.agilecrmautomation.AmazonApplianceSearch"/>
      <class name="com.agilecrmautomation.CompanyTest"/>
      <class name="com.agilecrmautomation.FlipcartImageLinkVerification"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
